@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300@500@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 8px;
  align-items: center;
  background: linear-gradient(to bottom, #1434e9, #273aa2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: calc(100vh - 20px);
}
.sidebar .icon img {
  filter: invert(1) drop-shadow(6px 6px 0px #fff5);
  transform: rotateZ(45deg);
  margin: 20px 5px;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.sidebar ul li {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2px 12px;
  font-size: 10pt;
  border-radius: 10px;
}
.sidebar ul li img {
  margin-bottom: 5px;
  filter: invert(1);
}
.sidebar ul li.selected, .sidebar ul li:hover {
  background: #334fe8db;
}
.sidebar ul li:last-child {
  position: absolute;
  bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 90%;
  padding: 30px 40px;
}
.content .grid {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.content .grid .col {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}
.content .grid .col:nth-child(1) {
  background: #f0f0f0;
}
.content .grid .col:nth-child(2) {
  background: #2196f338;
}
.content .grid .col:nth-child(3) {
  background: #673ab72e;
}
.content .grid .col:nth-child(4) {
  background: #4caf502b;
}
.content .grid .col .header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 12pt;
  position: sticky;
  top: 0;
  background: #3F51B5;
  border-radius: 5px;
  color: white;
  position: relative;
}
.content .grid .col .header::after {
  content: "";
  width: 10%;
  height: 100%;
  display: block;
  position: absolute;
  background: #ffd700a6;
  right: 0;
  top: 0px;
}
.content .grid .col .header::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 5px;
  background-image: url(https://www.iconfinder.com/data/icons/christmas-flat-4/58/019_-_Star-512.png);
  background-size: cover;
  margin: 0 auto;
}
.content .grid .col .tasks {
  flex-direction: column;
  width: 100%;
  display: flex;
  height: 600px;
  overflow: auto;
  align-items: center;
}
.content .grid .col .tasks .card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 15px;
  background: white;
  margin: 10px 0px;
  border-radius: 5px;
  width: 80%;
  cursor: grab;
}
.content .grid .col .tasks .card:active {
  cursor: grabbing;
}
.content .grid .col .tasks .card.dragging {
  opacity: 0.5;
  transform: scale(0.8);
}
.content .grid .col .tasks .card h4.title {
  letter-spacing: 2px;
  position: relative;
}
.content .grid .col .tasks .card h4.title::after {
  content: "";
  display: inline-block;
  background-image: url(https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/more-256.png);
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: -5px;
  background-size: cover;
}
.content .grid .col .tasks .card h6 {
  color: gray;
  font-size: 9pt;
  padding: 10px;
}
.content .grid .col .tasks .card .members {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}
.content .grid .col .tasks .card .members img, .content .grid .col .tasks .card .members .extra {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #eaeaea;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}