@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  position: sticky;
  flex-direction: column;
  flex: 1;
  width: 50px;
  top: 0;
  padding: 0px 7px;
  align-items: center;
  background: linear-gradient(to bottom, #1434e9, #273aa2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: calc(100vh - 10px);
}
.sidebar .icon img {
  filter: invert(1) drop-shadow(6px 6px 0px #fff5);
  transform: rotateZ(45deg);
  margin: 20px 5px;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.sidebar ul li {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2px 5px;
  font-size: 10pt;
  border-radius: 10px;
}
.sidebar ul li img {
  margin-bottom: 5px;
  filter: invert(1);
}
.sidebar ul li.selected, .sidebar ul li:hover {
  background: #1027acdb;
}
.sidebar ul li:last-child {
  position: absolute;
  bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 90%;
  padding: 20px 10px;
}
.content .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content .grid {
  display: flex;
  justify-content: space-between;
  flex: 50%;
  flex-wrap: wrap;
}
.content .grid .col {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  min-width: 150px;
  position: relative;
}
.content .grid .col:nth-child(1) {
  background: #f0f0f0;
}
.content .grid .col:nth-child(2) {
  background: #2196f338;
}
.content .grid .col:nth-child(3) {
  background: #673ab72e;
}
.content .grid .col:nth-child(4) {
  background: #4caf502b;
}
.content .grid .col:nth-child(4) .tasks .card {
  background: repeating-linear-gradient(45deg, #fff, #fff 10px, #3f51b529 15px);
}
.content .grid .col .header {
  width: 80%;
  display: flex;
  padding: 15px 10%;
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 12pt;
  position: sticky;
  top: 0;
  background: #3F51B5;
  border-radius: 5px;
  color: white;
  position: relative;
}
.content .grid .col .header::after {
  content: "";
  width: 20px;
  height: 100%;
  display: block;
  position: absolute;
  background: orange;
  right: 0;
  top: 0px;
}
.content .grid .col .footer {
  position: absolute;
  bottom: 0px;
  background: orange;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .grid .col .tasks {
  flex-direction: column;
  display: flex;
  height: 400px;
  overflow: auto;
  align-items: center;
  width: 100%;
}
.content .grid .col .tasks .card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 15px;
  background: white;
  margin: 10px 0px;
  border-radius: 5px;
  cursor: grab;
}
.content .grid .col .tasks .card:hover {
  animation: 1s swing 1s infinite;
}
.content .grid .col .tasks .card:active {
  cursor: grabbing;
}
.content .grid .col .tasks .card.dragging {
  opacity: 0.5;
  transform: scale(0.8);
}
.content .grid .col .tasks .card.selected {
  border-left: 4px solid orange;
}
.content .grid .col .tasks .card h4.title {
  position: relative;
}
.content .grid .col .tasks .card h4.title::after {
  content: "";
  display: inline-block;
  background-image: url(https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/more-256.png);
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: -5px;
  background-size: cover;
}
.content .grid .col .tasks .card h6 {
  color: gray;
  font-size: 9pt;
  padding: 10px;
}
.content .task-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 10px;
  flex: 1;
  border-radius: 5px;
  background: #f8f8f8;
  justify-content: center;
}
.content .task-container .task-title {
  position: relative;
  left: 30px;
}
.content .task-container .task-title small {
  color: gray;
}
.content .task-container .task-title::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
  top: 3px;
  background-image: url(https://www.iconfinder.com/data/icons/christmas-flat-4/58/019_-_Star-512.png);
  background-size: cover;
  margin: 0 auto;
}
.content .task-container .task-info {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  justify-content: space-between;
}
.content .task-container .task-info div {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.content .task-container .task-info div.disc {
  display: contents;
}
.content .task-container .task-info div.attaches a.attch {
  background: #ff57226e;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  cursor: pointer;
}
.content .task-container .task-info label {
  color: gray;
  margin-right: 10px;
}
.content .task-container .chat {
  display: flex;
  flex-direction: column;
  border: 1px dashed #888;
  min-height: 200px;
  position: relative;
}
.content .task-container .chat .chat-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
}
.content .task-container .chat .chat-input input {
  border: none;
  border-bottom: 1px solid #3F51B5;
  height: 20px;
  width: 80%;
  background: transparent;
  margin-left: 10px;
}
.content .task-container .chat .chat-input button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.content .task-container .chat .chat-input button img {
  width: 30px;
}

.members {
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
}
.members img, .members .extra {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.members .extra {
  background: #eaeaea;
}

@keyframes swing {
  from {
    position: relative;
    left: 0px;
  }
  to {
    position: relative;
    left: 10px;
  }
}